label {
    font-weight: bold;
    margin-top: 8px;
}

.subtitle {
    padding-bottom: 8px;
}

input[type=number] {
    width: 50px;
}

select.year {
    width: 70px;
}

.main_menu {
    display: block;
    height: 33px;
    padding: 5px;
    background-color: #45ABCC;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
}

.fix_button {
    margin-bottom: 10px !important;
}

a.sorter {
    text-decoration: none;
    border-bottom: 1px dotted rgb(0, 136, 220);
}

.btn-std100 {
    width: 100px;
}

.btn-std {
    width: 100px;
}

.btn-spacing {
    margin-left: 4px;
    margin-right: 4px;
}

div.col_container {
    display: block;
    float: left;
    width: 100%;
}

div.column {
    display: block;;
    float: left;
    padding: 0px 5px;
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    /*background-color: #dfdfdf;*/
}

#loading img {
    margin: auto;
    position: absolute;
    top: 45%;
    left: 45%;
}

input#fsu, input#fond {
    width: 190px;
}

td.n {
    width: 15px;
}
td.float_value {
    text-align: right;
}

td.faculty {
    text-align: center;
}

table.table_for_years{
    width: auto;
}

select#stage {
    width: 280px;
}

tr.table_title td{
    text-align: center;
}

hr {
    margin: 0px;
}

fieldset.stage2 select {
    width: 250px;
}

input[type=checkbox],input[type=radio] {
    margin: 2px;
}

.main_container {
    min-width: 600px;
}

input.invalid {
    border: 1px solid red;
}